<pointer:>
  <div>This auction with id {auction.0.xid} is ending at {auction.0.ending} </div>
  <div>Current Winner {auction.0.winner}</div>
  <div>Last run: {auction.0.ended}</div>
  testts:{auction.0.winner}
<alert:>
  <div id=alert>
    {#unless connected}
      <p>
        {#if canConnect}
          <!-- Leading space is removed, and trailing space is maintained -->
          Offline 
          {#if _showReconnect}&ndash; <a x-bind=click:connect>Reconnect</a>{/}
        {else}
          Unable to reconnect &ndash; <a x-bind=click:reload>Reload</a>
        {/}
      </p>
    {/}
  </div>
